
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<DameUnaIP.Models.IpAddrModel>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>IPs</b>
            </div>
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Tapeless" aria-controls="Tapeless" role="tab" data-toggle="tab">Tapeless</a></li>
                    <li role="presentation"><a href="#Broadcast" aria-controls="Broadcast" role="tab" data-toggle="tab">Broadcast</a></li>
                    <li role="presentation"><a href="#Managment" aria-controls="Managment" role="tab" data-toggle="tab">Managment</a></li>
                </ul>

                <!-- Tab content -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Tapeless">
                        <table id="TapelessTable" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Addr)</th>
                                    <th>@Html.DisplayNameFor(model => model.InUse)</th>
                                    <th>@Html.DisplayNameFor(model => model.Vlans)</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Broadcast">
                        <table id="BroadcastTable" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Addr)</th>
                                    <th>@Html.DisplayNameFor(model => model.InUse)</th>
                                    <th>@Html.DisplayNameFor(model => model.Vlans)</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Managment">
                        <table id="ManagmentTable" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Addr)</th>
                                    <th>@Html.DisplayNameFor(model => model.InUse)</th>
                                    <th>@Html.DisplayNameFor(model => model.Vlans)</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Datatables js -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">
        $(document).ready(function () {
            loadTable('TapelessTable', '1');
            loadTable('BroadcastTable', '2');
            loadTable('ManagmentTable', '3');
        });


        function loadTable(table, id) {

            var rows = $('#' + table + "_table tbody tr").length;

            if (rows < 1) {

                $('#' + table).dataTable({
                    "bServerSide": true,
                    "sAjaxSource": "/json/ips/" + id,
                    "bProcessing": true,
                    "aoColumns": [
                                    { "sName": "IpAddr" },
                                    { "sName": "InUse" },
                                    { "sName": "Vlans" },
                                    { "sName": "Ping" }
                    ]
                });
            }
        }
</script>